ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #f6cade;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    color: #dfe1fb;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li:active {
    color: #dfe1fb;
}

ul.breadcrumb li:visited {
    color: #848df6;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breacrumb li a:hover {
    color: #771539;
}

.dualRow {
    display: flex;
    width: 100%;
}

.dualCol {
    float: left;
    width: 49%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.dualRow:after {
    content: "";
    display: table;
    clear: both;
}

.pinkBox {
    color: #771539;
    background-color: #fbecec;
    text-align: justify;
    font-size: 20px;
    width: 98%;
    border-style: solid;
    border-color: #fbecec;
    word-wrap: break-word;
    margin: auto;
    position: relative;
    padding: 1%;
    border-radius: 25px;
    font-family:'Times New Roman', Times, serif;
}